.roman-display {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 100px; 
    min-height: 50px; 
    margin-bottom: 10px;
}

.custom-outline-secondary {
    border: 1px solid #6c757d; 
    color: #6c757d;           
}

.custom-outline-secondary:hover {
    background-color: #6c757d; 
    border-color: #5a6268;     
    color: #5a6268;            
}

